<div class="container">
    <div class="slider">
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
    </div>
</div>