<app-header></app-header>
<div class="container" style="margin-top:5px;">
    <div class="row">
        <div class="col-md-6" style="border: 1px solid black;">
            <button routerLink="/users">Users</button>
            <button routerLink="/homeklik">Home klik</button>
        </div>
        <div class="col-md-6" style="border: 1px solid black;">
            div
        </div>
    </div>
</div>
<div class="container">
    <div class="slider">
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый2 <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый3 <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
        <div class="slideitem">
            <img src="assets/img/slide.png" alt="facebook" />
            <div class="caption">
                <h2>
                    Красивый4 <br /> заголовок слайдера
                </h2>
                <div class="bord"></div>
                <p>
                    В нашей ветеринарной клинике есть все необходимое,
                    чтобы оказать любую помощь: от вакцинации до
                    операций на позвоночнике.
                </p>
                <a class="btn btn-yellow">Записаться</a>
            </div>
        </div>
    </div>
</div>